<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Redeems Dashboard</title>
</head>
<body>
    {% if counters %}
    <table>
        <thead>
            <tr>
                <th>Counters</th>
            </tr>
        </thead>
        <tbody>
            {% for counter in counters %}
            <td> {{ counter[0] }} </td>
            <td> {{ counter[1] }} </td>
        </tbody>
    </table>
    {% endif %}

    {% if queue %}
    <table>
        <thead>
            <tr>
                <th>time</th>
                <th>redeem</th>
                <th>redeemer</th>
                <th>note</th>
            </tr>
        </thead>
        {% for row in queue %}
        <tbody>
            <td>{{ row[0].replace(tzinfo=utc_timezone).astimezone().strftime("%H:%M") }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
