<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>Redeems Dashboard</title>
</head>
<body>
    <table>
        <tbody>
            <td> Number of drinks: </td>
            <td> {{ number_of_drinks }} </td>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>time</th>
                <th>redeem</th>
                <th>redeemer</th>
            </tr>
        </thead>
        {% for row in queue %}
        <tbody>
            <td>{{ row[0].time() }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>